.pageWrapper {
    margin: 0 auto;
    max-width: 840px;
}

.pageWrapper h1{
    color: antiquewhite;
    font-family: var(--font-rampartOne-regular);
    font-size: 50px;
    margin-bottom: 40px;
}

.articleCardWrapper {
    background-color: rgb(220, 150, 178);
    border: 3px dashed antiquewhite;
    border-radius: 20px;
    color: antiquewhite;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    padding: 20px;
}

.articleCardWrapper img{
    border-radius: 10px;
    height: auto;
    width: 200px;
}

.articleCardText h2{
    margin-bottom: 20px;
}

.articleCardText p{
    margin-bottom: 20px;
}

.articleCardText a{
    color: rgb(64, 122, 210);
    font-weight: bold;
}

.articleCardText a:hover{
    color: lightblue;
    transition: 0.3s;
}


/* -----------------
--- Article Page ---
------------------*/

.articlePageHeaderWrapper {
    color: white;
    background-color: grey;
    background-size: cover;
    min-height: 340px;
    text-shadow: 2px 2px 0 black;
}

.articlePageHeaderWrapper h1{
    font-size: 60px;
    font-weight: lighter;
    margin: 0 auto;
    max-width: 680px;
    padding-top: 60px;
}

.articlePageHeaderWrapper p{
    margin: 0 auto;
    padding-bottom: 20px;
    max-width: 680px;
}

.articlePageHeaderBlurb{
    font-size: 20px;
}


.articleTextWrapper{
    color: white;
    margin: 0 auto;
    max-width: 680px;
    padding-top: 60px;
}

.articleTextWrapper p{
    font-size: 16px;
    margin-bottom: 16px;
}

.articleTextWrapper h2{
    font-size: 34px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}

.articleTextWrapper h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 16px;
}